@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');

:root {
    --primary-100: #1F3A5F;
    --primary-200: #4d648d;
    --primary-300: #acc2ef;
    --accent-100: #3D5A80;
    --accent-200: #cee8ff;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #0F1C2E;
    --bg-200: #1f2b3e;
    --bg-300: #374357;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--primary-300);
}

nav {
    position: fixed;
    background: var(--bg-200);
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

nav .menu {
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 15px;
}

.menu .logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-200);
}

.menu .logo a:hover {
    color: var(--accent-200);
}

.menu ul {
    display: inline-flex;
    justify-content: space-around;

}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    color: var(--text-200);
    padding: 3px 8px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: var(--primary-300);
    color: var(--bg-200);
}

.center {
    position: absolute;
    top: 45%;
    width: 100%;
    transform: translate(-50% -50%);
    padding: 0 20px;
    text-align: center;
}

.center .title {
    color: var(--bg-200);
    font-size: 52px;
    font-weight: 600;
}

.center .sub-title {
    color: var(--bg-200);
    font-size: 18px;
    font-weight: 500;
}

.center .btns {
    margin-top: 20px;
}

.center .btns button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .btns button:first-child {
    color: var(--bg-100);
    background: none;
    border-color: var(--bg-100);
}

.center .btns button:first-child:hover {
    background: var(--bg-100);
    color: var(--primary-300);
}

.center .btns button:last-child {
    color: var(--bg-100);
    background: none;
    border-color: var(--bg-100);
}


.center .btns button:last-child:hover {
    background: var(--bg-100);
    color: var(--primary-300);
}